type hal_usb_hi6250, coredomain, domain;
hal_server_domain(hal_usb_hi6250, hal_usb)

type hal_usb_hi6250_exec, exec_type, file_type;
init_daemon_domain(hal_usb_hi6250)

