import /system/etc/init/connectivity/init.${ro.connectivity.chiptype}.rc

on init
    mount none /system/bin/adbd /sbin/adbd bind
    mount none /system/etc/audio_effects.conf /vendor/etc/audio_effects.conf bind
    mount none /system/etc/audio_policy.conf /vendor/etc/audio_policy.conf bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_volumes_drc.xml /vendor/etc/audio_policy_volumes_drc.xml bind
    mount none /system/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind
    mount none /system/etc/r_submix_audio_policy_configuration.xml /vendor/etc/r_submix_audio_policy_configuration.xml bind
    mount none /system/etc/media_codecs.xml /vendor/etc/media_codecs.xml bind
    mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
    mount none /system/usr/keylayout/fingerprint.kl /vendor/usr/keylayout/fingerprint.kl bind

    mount none /system/product/etc/xml/power_profile.xml /product/etc/xml/power_profile.xml bind

on post-fs-data
    mkdir /data/vendor_ce 0771 root root
    mkdir /data/vendor_de 0771 root root
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/sockets 0770 wifi wifi

on property:sys.boot_completed=1
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 2750
    write /sys/class/hw_power/charger/charge_data/iin_thermal 1000

on property:ro.lineage.device=*
    setprop qemu.hw.mainkeys 0

on property:sys.usb.ffs.mtp.ready=0
    setprop sys.usb.ffs.mtp.ready 1

service dpeservice-1.0 /system/bin/displayengineserver@1.0
    class main
    user graphics
    group graphics system sdcard_rw
    disabled

service dpeservice-1.1 /system/bin/displayengineserver@1.1
    class main
    user graphics
    group graphics system sdcard_rw
    disabled

service wifi_ext /system/bin/hw/android.hardware.wifi@1.0-service
    class hal
    capabilities NET_ADMIN NET_RAW SYS_MODULE
    user wifi
    group wifi gps dhcp inet net_raw net_admin

on property:sys.fpnav.enabled=0
    write /sys/devices/platform/fingerprint/nav 0
    stop fps_hal_ext
    start fps_hal_ext

on property:sys.fpnav.enabled=1
    write /sys/devices/platform/fingerprint/nav 1
    stop fps_hal_ext
    start fps_hal_ext
